affine==2.2.1
asn1crypto==0.24.0
# awsebcli==3.14.2
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
blessed==1.15.0
boto3==1.7.54
botocore==1.10.54
CacheControl==0.12.5
cached-property==1.4.3
cement==2.8.2
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
colorama==0.3.9
contextlib2==0.5.5
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.2.2
Django==1.11.27
django-allauth==0.36.0
django-crispy-forms==1.7.2
-e git+https://github.com/Litiks/django-cron.git@1190afa9cc716c55f70a4dac27a56465c886d6fd#egg=django_cron
-e git+https://github.com/Litiks/django-custom_user.git@1e56499743d8eb980659e669dea6c4d975c9478f#egg=django_custom_user
django-filter==1.1.0
django-guardian==1.4.9
-e git+https://github.com/Litiks/django-layoutform.git@d75238c62e67f749cdc2abe58f9a12da0fda4b62#egg=django_layoutform
-e git+https://github.com/Litiks/django-page_view_log.git@9eb556aa848aef433c8903e114ed0981e6769507#egg=django_page_view_log
django-money==0.14.4
django-ranged-response==0.2.0
django-ratelimit==1.1.0
django-reversion==2.0.13
django-simple-captcha==0.5.9
django-storages==1.6.6
djangorestframework==3.9.1
docker==3.4.1
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
drf-yasg==1.10.0
enum34==1.1.6
et-xmlfile==1.0.1
ExifRead==2.1.2
# functools32==3.2.3.post2
# futures==3.2.0
idna==2.7
ipaddress==1.0.22
iso3166==0.8
itypes==1.1.0
jdcal==1.4
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
lxml==4.2.3
mapbox==0.16.2
Markdown==2.6.11
MarkupSafe==1.0
msgpack==0.5.6
mysqlclient==1.3.13
newrelic==3.2.2.94
numpy==1.14.5
oauthlib==2.1.0
openpyxl==2.5.4
pathspec==0.5.5
Pillow==5.2.0
polyline==1.3.2
psutil==5.4.6
pycparser==2.18
pyOpenSSL==18.0.0
pyparsing==2.2.0
#PyPDF2==1.26.0
# pypi is out of date so we need to pull from github directly
-e git+https://github.com/mstamy2/PyPDF2.git@18a2627adac13124d4122c8b92aaa863ccfb8c29#egg=PyPDF2
python-dateutil==2.7.3
python-memcached==1.59
python-openid==2.2.5
pytz==2018.5
PyYAML==3.12
rasterio==1.0.13
raven==6.9.0
reportlab==3.4.0
requests==2.19.1
requests-oauthlib==1.0.0
s3transfer==0.1.13
scss==0.8.73
selenium==3.14.1
semantic-version==2.5.0
six==1.11.0
slackclient==1.3.0
snuggs==1.4.2
stripe==2.0.1
tabulate==0.7.5
termcolor==1.1.0
texttable==0.9.1
uritemplate==3.0.0
urllib3==1.23
Wand==0.4.4
wcwidth==0.1.7
websocket-client==0.48.0
zxcvbn==4.4.28
